body {
  background: linear-gradient(135deg, #1d2671, #c33764);
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h1 {
  color: #c33764;
}

h2 {
  margin: 10px 0;
}
